.song-card {
    width: 500px; /* Fixed width for the song card */
    background-color: #333; /* Dark grey background */
    color: white; /* White text color */
    display: flex;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 2px 2px rgba(9, 93, 12, 0.43);
    overflow: hidden; /* Hide overflowing text */;
    justify-content: center;
    align-items: center;
  }
  
  .album-cover {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    margin-right: 10px;
  }
  
  .song-details {
    flex: 1;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow-wrap: break-word;
    white-space: initial; /* Hide overflowing text */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
  }
  
  .song-name {
    font-size: 1.2rem; /* Larger font size for song name */
  }
  
  .artist-names {
    font-size: 1rem; /* Slightly smaller font size for artist names */
    color: #ccc; /* Lighter grey color for artist names */
  }

  .card-container {
    height: 70vh;
    overflow-y: auto;
    padding-top: 10px;
  }
  